.mtop20 {
    margin-top: 20px;
}

.mright20 {
    margin-right: 20px;
}

.mtop100 {
    margin-top: 100px;
}

.test-tabs {
    color: white;
    padding: 10px 5px;
    border: 1px solid #2196F3;
    border-bottom: 4px solid #2196F3;
    max-height: 44px;
}

.h44 {
    max-height: 44px;
    height: 44px;
}

.test-tabs:hover {
    text-decoration: none;
    border-bottom: 4px solid #349ff4;
}

.test-tabs:focus {
    text-decoration: none;
}

.active-tab {
    border-bottom: 4px solid #1976D2 !important;
}

.navbar-no-margin {
    margin-bottom: 0 !important;
    border: 1px solid #2196F3;
}

.navbar-header-full-width {
    width: 100%;
}

.icon {
    margin-top: 2px;
    position: absolute;
}

.title {
    margin-left: 32px;
}

.tick {
    margin-right: 20px;
    margin-top: -5px;
}

.send-test {
    margin-right: 30px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-handle {
    width: 24px;
    height: 24px;
    top: -11px;
}

#test-progress-result {
    text-align: center;
    margin-top: 10%;
}

#test-text-result {
     text-align: center;
     margin-top: 10%;
}

#survey-text-result {
    text-align: center;
}

#survey-progress-result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 200px;
    height: 200px;
}

#grade-result {
    position: static;
    text-align: center;
    margin-top: -10%;
}
