<!DOCTYPE html>
<html ng-app="finkiAskApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta name="theme-color" content="#2196F3">

    <!-- Concatenated CSS -->
    <link href="dest/lib.css?rev=bb360d6cf66a12f4afd090fc70a6c627" rel="stylesheet">
    <link href="dest/app.css?rev=3923367fe58638c64533fbd92f3c8bfb" rel="stylesheet">

    <link href="img/favicon.png" rel="icon" type="image/png">
    <title>Finki ASK Web</title>
</head>
<body>

    <div class="navbar navbar-default navbar-material-blue navbar-no-margin" ng-controller="HomeController">
        <div class="navbar-header navbar-header-full-width">
            <a class="navbar-brand" href="" ng-click="icon_clicked()">
                <i class="icon" ng-class="{'mdi-navigation-arrow-back': show_back_arrow == true, 'mdi-social-school': ! show_back_arrow}"></i> <span class="title">{{ title }}</span>
            </a>
            <a class="navbar-brand pull-right send-test" href="" ng-if="show_send_test" ng-click="finish_test_clicked()">
                <i class="icon mdi-content-send"></i>
            </a>
            <a class="navbar-brand pull-right" href="" ng-if="show_send_test">
                {{ timeleft }}
            </a>
        </div>
    </div>

    <div ui-view class="full-height"></div>

    <!-- Concatenated libraries -->
    <script src="dest/lib.js?rev=d6a375525404e356ba50dc3169b9c235"></script>
    <!-- Concatenated application -->
    <script src="dest/src.js?rev=c7a590fd5ebd0bfa53aca520c4694ff4"></script>
    <!-- All html templates -->
    <script src="dest/templates.js?rev=e16f365e61bd3d6c516704e082dc63b8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            window.material_init = function() {
                $.material.init();
            };
        })
    </script>
</body>
</html>